.fa-minus{
    color: orange;
}
.accord{
    border: 1px solid orange;
    margin-top: 10px;
    padding: 10px 0px;
    width: 600px;
    margin-left: 10px;
}
.fa-solid{
    cursor: pointer;
}
.ans{
    background-color: aliceblue;
}